<div class="container content-space-1">
  <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>













  <% end %>

  </div>

</div>