<div class="card w-45">
  <div class="card-body">
    <h5 class="card-title"><%= group.name %></h5>
    <p class="card-text"><%= group.content %></p>
    <p class="card-text"><%= board.created_at %><p>
    <%= link_to "View Board", board ,class:"btn btn-primary" %>
  </div>
</div>