<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><img src="/images/social_icons/white-square-facebook.png" style="width: 50px;"></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><img src="/images/social_icons/white-square-twitter.png" style="width: 50px;"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><img src="/images/social_icons/white_instagram.png" style="width: 50px;"></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><img src="/images/social_icons/white-square-youtube.png" style="width: 50px;"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><img src="/images/social_icons/white-square-whatsapp.png" style="width: 50px;"></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <section class="mb-4">
      <p>
        Sign up for our newsletter to receive additional insights and news about future application features. 
        Subscribers may also be invited to join beta testing for new features. 
      </p>
    </section>
    <section class="">
      <!--Grid row-->
      <div class="row justify-content-between"> 
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h4 class="text-uppercase">About StreetShare</h5>
          <ul class="list-group list-group-dark">
            <li class="list-group-item bg-dark px-3 border-0 rounded-2 mb-2">
              <a href="#" class="text-white" style="text-decoration: none;">Our mission</a>
            </li>
            <li class="list-group-item bg-dark px-3 border-0 rounded-2 mb-2">
              <a href="#" class="text-white" style="text-decoration: none;">Meet our team</a>
            </li>
            <li class="list-group-item bg-dark px-3 border-0 rounded-2 mb-2">
              <a href="#" class="text-white" style="text-decoration: none;">Careers</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h4 class="text-uppercase">Legal</h5>
          <ul class="list-group list-group-dark">
            <li class="list-group-item bg-dark px-3 border-0 rounded-2 mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Privacy Policy</a>
            </li>
            <li class="list-group-item bg-dark px-3 border-0 rounded-2 mb-2" >
              <a href="#!" class="text-white" style="text-decoration: none;">Terms & Conditions</a>
            </li>
            <li class="list-group-item bg-dark px-3 border-0 rounded-2 mb-2" >
              <a href="#!" class="text-white" style="text-decoration: none;">Cookie Usage</a>
            </li>
            <li class="list-group-item bg-dark px-3 border-0 rounded-2 mb-2" >
              <a href="#!" class="text-white" style="text-decoration: none;">Copyright Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h4 class="text-uppercase">Help & Information</h5>

          <ul class="list-group list-group-dark">
            <li class="list-group-item bg-dark px-3 border-0 rounded-2 mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Frequently Asked Questions</a>
            </li>
            <li class="list-group-item bg-dark px-3 border-0 rounded-2 mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Site Rules</a>
            </li>
            <li class="list-group-item bg-dark px-3 border-0 rounded-2 mb-2">
              <a href="#!" class="text-white" style="text-decoration: none;">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">StreetShare.ie</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->