  <div class="container-fluid bg-dark mt-5">
    <span class="border">
    <div class="row">
      <div class="col ">col</div>
      <div class="col">col</div>
      <div class="col">col</div>
      <div class="col">col</div>
    </div>
  </span>
  </div>