<!--<h1>Home</h1>-->
<!--  <div class="container text-center">-->
<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        Column1-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        Column2-->
<!--      </div>-->
<!--      <div class="col">-->
<!--        Column3-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<main class="container h-100 p-1">
<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic">Digital noticeboard</h1>
    <p class="lead my-3">Explore, create and engage with the latest posts from your community.</p>
    <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
  </div>
</div>

  <div class="row mb-2" >
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary"></strong>
        <h3 class="mb-2">Create new Post</h3>
        <div class="mb-1 text-muted">Click here to add design and create a new post.</div>
        <p class="card-text mb-auto"></p>
        <%= link_to "Create Post" ,create_post_path, class:"stretched-link" %>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Post</title><rect width="100%" height="100%" fill="#59dd30"></rect><text x="50%" y="50%" fill="#43c641" dy=".3em"></text></svg>
      </div>
    </div>

  </div>

  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success"></strong>
        <h3 class="mb-2">Create a new board</h3>
        <div class="mb-1 text-muted">Click to create a noticeboard for your area</div>
        <p class="card-text mb-auto"></p>
        <%= link_to "Create Board" ,create_post_path, class:"stretched-link" %>
      </div>
      <div class="col-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#0095ED"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
      </div>
    </div>
  </div>
</div>