<div id="<%= dom_id post %>">


  <div class="card" style="width: 21rem;">
    <% if post.image.present?%>
      <%= image_tag post.image.variant(resize_to_limit: [350, 350]), class: "card-img-top"%>
    <%end %>
    <!--<img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.body %></p>
    </div>
  </div>


<!--  <p>-->
<!--    <strong>Category</strong>-->
    <%#= post.category %>
<!--  </p>-->


<!--  <p>-->
<!--    <strong>User id:</strong>-->
    <%#= post.user_id %>
<!--  </p>-->


</div><!-- end div don't touch -->
